.contact-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgba(215, 215, 192, 0.619);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info {
    margin-bottom: 30px;
    line-height: 1.6;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .contact-form button {
    padding: 12px;
    background-color: #0db813;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .contact-form button:hover{
    background-color: rgba(255, 255, 0, 0.656);
  }  
  .thank-you {
    font-size:1.1em;
    color:green;
}